Images:
- SourceImage: amazon/aws-cli
  Tags:
  - 2.0.52
  - 2.8.5
  - 2.8.9
  - 2.9.0
  - 2.9.14
- DoNotMirror: true
  SourceImage: appscode/kubed
  Tags:
  - v0.13.2
- SourceImage: banzaicloud/logging-operator
  Tags:
  - 3.6.0
  - 3.7.0
  - 3.7.3
  - 3.8.0
  - 3.8.2
  - 3.9.0
  TargetImageName: banzaicloud-logging-operator
- SourceImage: banzaicloud/logging-operator
  Tags:
  - 3.10.0
  - 3.12.0
  - 3.9.0
  - 3.9.4
  - 3.9.5
- SourceImage: bats/bats
  Tags:
  - v1.1.0
  TargetImageName: bats-bats
- SourceImage: bats/bats
  Tags:
  - v1.1.0
  - v1.4.1
- SourceImage: coredns/coredns
  Tags:
  - 1.7.0
  - 1.7.1
  - 1.8.0
  - 1.8.3
  TargetImageName: coredns-coredns
- SourceImage: coredns/coredns
  Tags:
  - 1.10.1
  - 1.11.1
  - 1.11.3
  - 1.11.4
  - 1.12.0
  - 1.12.1
  - 1.6.2
  - 1.6.5
  - 1.6.9
  - 1.7.0
  - 1.8.0
  - 1.8.3
  - 1.8.4
  - 1.8.6
  - 1.9.0
  - 1.9.1
  - 1.9.3
  - 1.9.4
- SourceImage: curlimages/curl
  Tags:
  - 7.70.0
  - 7.73.0
  TargetImageName: curlimages-curl
- SourceImage: curlimages/curl
  Tags:
  - 7.70.0
  - 7.73.0
  - 7.77.0
  - 7.83.1
  - 7.85.0
  - 8.10.1
  - 8.12.1
  - 8.13.0
  - 8.9.1
- SourceImage: directxman12/k8s-prometheus-adapter
  Tags:
  - v0.8.3
  - v0.8.4
- SourceImage: directxman12/k8s-prometheus-adapter-amd64
  Tags:
  - v0.6.0
  - v0.7.0
  TargetImageName: directxman12-k8s-prometheus-adapter-amd64
- SourceImage: directxman12/k8s-prometheus-adapter-amd64
  Tags:
  - v0.7.0
  - v0.8.3
- SourceImage: fluent/fluent-bit
  Tags:
  - windows-2019-3.1.8
  - windows-2022-3.1.8
  TargetImageName: fluent-bit
- SourceImage: fluent/fluent-bit
  Tags:
  - 1.5.4
  - 1.5.4-debug
  - 1.6.1
  - 1.6.1-debug
  - 1.6.10
  - 1.6.10-debug
  - 1.6.4
  - 1.6.4-debug
  - 1.8.5-debug
  TargetImageName: fluent-fluent-bit
- SourceImage: fluent/fluent-bit
  Tags:
  - 1.6.10
  - 1.6.10-debug
  - 1.7.4
  - 1.7.4-debug
  - 1.7.9
  - 1.7.9-debug
  - 1.8.15
  - 1.8.15-debug
  - 1.8.5
  - 1.8.5-debug
  - 1.8.7
  - 1.8.7-debug
  - 1.8.8
  - 1.8.8-debug
  - 1.8.9
  - 1.8.9-debug
  - 1.9.3
  - 1.9.3-debug
  - 1.9.5
  - 1.9.5-debug
  - 2.2.0
  - 2.2.0-debug
  - 3.0.4
  - 3.0.4-debug
  - 3.1.8
  - 3.1.8-debug
- SourceImage: ghcr.io/banzaicloud/fluentd
  Tags:
  - v1.12.4-alpine-1
  - v1.13.3-alpine-1
  - v1.13.3-alpine-11
  - v1.14.4-alpine-2
  - v1.14.5-alpine-1
  - v1.14.6-alpine-5
- SourceImage: ghcr.io/banzaicloud/logging-operator
  Tags:
  - 3.14.0
  - 3.15.0
  - 3.17.1
  - 3.17.10
  - 3.17.3
  - 3.17.4
  - 3.17.7
  - 3.17.8
  - 3.17.9
- SourceImage: ghcr.io/kube-logging/config-reloader
  Tags:
  - v0.0.5
  - v0.0.6
- SourceImage: ghcr.io/kube-logging/fluentd
  Tags:
  - v1.16-4.10-full
  - v1.16-4.8-full
  - v1.16-ruby3.3-full-build.140
- SourceImage: ghcr.io/kube-logging/logging-operator
  Tags:
  - 4.10.0
  - 4.4.0
  - 4.8.0
  - 4.9.1
Repositories:
- BaseUrl: docker.io/rancher
  Password: '{{ env "DOCKER_PASSWORD" }}'
  Registry: docker.io
  ReqConcurrent: 2
  Target: true
  Username: '{{ env "DOCKER_USERNAME" }}'
- BaseUrl: dp.apps.rancher.io/containers
  Password: '{{ env "APPCO_PASSWORD" }}'
  Registry: dp.apps.rancher.io
  ReqConcurrent: 2
  Target: false
  Username: '{{ env "APPCO_USERNAME" }}'
- BaseUrl: registry.suse.com/rancher
  Password: '{{ env "PRIME_PASSWORD" }}'
  Registry: registry.suse.com
  ReqConcurrent: 2
  Target: true
  Username: '{{ env "PRIME_USERNAME" }}'
