Images:
- SourceImage: amazon/aws-cli
  Tags:
  - 2.0.52
  - 2.8.5
  - 2.8.9
  - 2.9.0
  - 2.9.14
- DoNotMirror: true
  SourceImage: appscode/kubed
  Tags:
  - v0.13.2
- SourceImage: banzaicloud/logging-operator
  Tags:
  - 3.6.0
  - 3.7.0
  - 3.7.3
  - 3.8.0
  - 3.8.2
  - 3.9.0
  TargetImageName: banzaicloud-logging-operator
- SourceImage: banzaicloud/logging-operator
  Tags:
  - 3.10.0
  - 3.12.0
  - 3.9.0
  - 3.9.4
  - 3.9.5
- SourceImage: bats/bats
  Tags:
  - v1.1.0
  TargetImageName: bats-bats
- SourceImage: bats/bats
  Tags:
  - v1.1.0
  - v1.4.1
- SourceImage: coredns/coredns
  Tags:
  - 1.7.0
  - 1.7.1
  - 1.8.0
  - 1.8.3
  TargetImageName: coredns-coredns
- SourceImage: coredns/coredns
  Tags:
  - 1.10.1
  - 1.11.1
  - 1.11.3
  - 1.11.4
  - 1.12.0
  - 1.12.1
  - 1.6.2
  - 1.6.5
  - 1.6.9
  - 1.7.0
  - 1.8.0
  - 1.8.3
  - 1.8.4
  - 1.8.6
  - 1.9.0
  - 1.9.1
  - 1.9.3
  - 1.9.4
- SourceImage: curlimages/curl
  Tags:
  - 7.70.0
  - 7.73.0
  TargetImageName: curlimages-curl
- SourceImage: curlimages/curl
  Tags:
  - 7.70.0
  - 7.73.0
  - 7.77.0
  - 7.83.1
  - 7.85.0
  - 8.10.1
  - 8.12.1
  - 8.13.0
  - 8.9.1
- SourceImage: directxman12/k8s-prometheus-adapter
  Tags:
  - v0.8.3
  - v0.8.4
- SourceImage: directxman12/k8s-prometheus-adapter-amd64
  Tags:
  - v0.6.0
  - v0.7.0
  TargetImageName: directxman12-k8s-prometheus-adapter-amd64
- SourceImage: directxman12/k8s-prometheus-adapter-amd64
  Tags:
  - v0.7.0
  - v0.8.3
- SourceImage: flannelcni/flannel
  Tags:
  - v0.16.0
  - v0.16.1
  - v0.16.2
  - v0.16.3
  - v0.17.0
  - v0.18.0
  - v0.18.1
  - v0.19.0
  - v0.19.1
  - v0.19.2
  - v0.20.0
  - v0.20.1
  - v0.20.2
- SourceImage: flannelcni/flannel-cni-plugin
  Tags:
  - v1.0.0
  - v1.0.1
  - v1.1.0
  - v1.1.2
  - v1.2.0
- SourceImage: fluent/fluent-bit
  Tags:
  - windows-2019-3.1.8
  - windows-2022-3.1.8
  TargetImageName: fluent-bit
- SourceImage: fluent/fluent-bit
  Tags:
  - 1.5.4
  - 1.5.4-debug
  - 1.6.1
  - 1.6.1-debug
  - 1.6.10
  - 1.6.10-debug
  - 1.6.4
  - 1.6.4-debug
  - 1.8.5-debug
  TargetImageName: fluent-fluent-bit
- SourceImage: fluent/fluent-bit
  Tags:
  - 1.6.10
  - 1.6.10-debug
  - 1.7.4
  - 1.7.4-debug
  - 1.7.9
  - 1.7.9-debug
  - 1.8.15
  - 1.8.15-debug
  - 1.8.5
  - 1.8.5-debug
  - 1.8.7
  - 1.8.7-debug
  - 1.8.8
  - 1.8.8-debug
  - 1.8.9
  - 1.8.9-debug
  - 1.9.3
  - 1.9.3-debug
  - 1.9.5
  - 1.9.5-debug
  - 2.2.0
  - 2.2.0-debug
  - 3.0.4
  - 3.0.4-debug
  - 3.1.8
  - 3.1.8-debug
- DoNotMirror: true
  SourceImage: gcr.io/cloud-provider-vsphere/cpi/release/manager
  Tags:
  - v1.18.0
  - v1.19.0
  - v1.2.1
  - v1.20.0
  - v1.20.1
  - v1.21.0
  - v1.21.3
  - v1.22.5
  - v1.22.6
  - v1.22.7
  - v1.22.8
  - v1.23.0
  - v1.23.0-alpha.1
  - v1.23.1
  - v1.23.3
  - v1.23.4
  - v1.24.0
  - v1.24.1
  - v1.24.2
  - v1.24.3
  - v1.24.4
  - v1.24.5
  - v1.24.6
  - v1.25.0
  - v1.25.1
  - v1.25.2
  - v1.25.3
  - v1.26.0
  - v1.26.1
  - v1.26.2
  - v1.27.0
  - v1.28.0
  - v1.29.0
  - v1.30.1
  TargetImageName: mirrored-cloud-provider-vsphere-cpi-release-manager
- DoNotMirror: true
  SourceImage: gcr.io/cloud-provider-vsphere/csi/release/driver
  Tags:
  - v2.1.0
  - v2.2.0
  - v2.2.1
  - v2.2.4
  - v2.3.0
  - v2.3.2
  - v2.4.1
  - v2.4.2
  - v2.4.3
  - v2.5.0
  - v2.5.1
  - v2.5.2
  - v2.5.3
  - v2.5.4
  - v2.6.0
  - v2.6.1
  - v2.6.2
  - v2.6.3
  - v2.7.0
  - v2.7.1
  - v2.7.2
  - v3.0.1
  - v3.0.2
  - v3.1.0
  - v3.1.1
  - v3.1.2
  - v3.2.0
  - v3.3.0
  - v3.3.1
  TargetImageName: mirrored-cloud-provider-vsphere-csi-release-driver
- DoNotMirror: true
  SourceImage: gcr.io/cloud-provider-vsphere/csi/release/syncer
  Tags:
  - v2.1.0
  - v2.2.0
  - v2.2.1
  - v2.2.4
  - v2.3.0
  - v2.3.2
  - v2.4.1
  - v2.4.2
  - v2.4.3
  - v2.5.0
  - v2.5.1
  - v2.5.2
  - v2.5.3
  - v2.5.4
  - v2.6.0
  - v2.6.1
  - v2.6.2
  - v2.6.3
  - v2.7.0
  - v2.7.1
  - v2.7.2
  - v3.0.1
  - v3.0.2
  - v3.1.0
  - v3.1.1
  - v3.1.2
  - v3.2.0
  - v3.3.0
  - v3.3.1
  TargetImageName: mirrored-cloud-provider-vsphere-csi-release-syncer
- SourceImage: gcr.io/google-containers/k8s-dns-node-cache
  Tags:
  - 1.15.13
  - 1.15.7
  TargetImageName: mirrored-k8s-dns-node-cache
- SourceImage: gcr.io/google_containers/k8s-dns-dnsmasq-nanny
  Tags:
  - 1.15.0
  - 1.15.10
  - 1.15.2
  TargetImageName: mirrored-k8s-dns-dnsmasq-nanny
- SourceImage: gcr.io/google_containers/k8s-dns-kube-dns
  Tags:
  - 1.15.0
  - 1.15.10
  - 1.15.2
  TargetImageName: mirrored-k8s-dns-kube-dns
- SourceImage: gcr.io/google_containers/k8s-dns-sidecar
  Tags:
  - 1.15.0
  - 1.15.10
  - 1.15.2
  TargetImageName: mirrored-k8s-dns-sidecar
- SourceImage: gcr.io/google_containers/pause
  Tags:
  - "3.1"
  - "3.2"
  TargetImageName: mirrored-pause
- SourceImage: gcr.io/kubebuilder/kube-rbac-proxy
  Tags:
  - v0.5.0
  TargetImageName: kube-rbac-proxy
- SourceImage: gcr.io/kubebuilder/kube-rbac-proxy
  Tags:
  - v0.14.0
  - v0.15.0
  - v0.5.0
  TargetImageName: mirrored-kube-rbac-proxy
- SourceImage: ghcr.io/banzaicloud/fluentd
  Tags:
  - v1.12.4-alpine-1
  - v1.13.3-alpine-1
  - v1.13.3-alpine-11
  - v1.14.4-alpine-2
  - v1.14.5-alpine-1
  - v1.14.6-alpine-5
- SourceImage: ghcr.io/banzaicloud/logging-operator
  Tags:
  - 3.14.0
  - 3.15.0
  - 3.17.1
  - 3.17.10
  - 3.17.3
  - 3.17.4
  - 3.17.7
  - 3.17.8
  - 3.17.9
- SourceImage: ghcr.io/dexidp/dex
  Tags:
  - v2.35.3
  - v2.36.0
  - v2.37.0
- SourceImage: ghcr.io/epinio/epinio-server
  Tags:
  - v0.7.1
  - v1.0.0
  - v1.10.0
  - v1.2.0
  - v1.4.0
  - v1.5.1
  - v1.6.1
  - v1.6.2
  - v1.8.1
  - v1.9.0
- SourceImage: ghcr.io/epinio/epinio-ui
  Tags:
  - v0.6.2-0.0.1
  - v1.0.0-0.0.4
  - v1.10.0-0.0.1
  - v1.2.0-0.0.1
  - v1.5.1-0.0.3
  - v1.8.1-0.0.1
  - v1.9.0-0.0.3
- SourceImage: ghcr.io/epinio/epinio-unpacker
  Tags:
  - "1.0"
  - v1.10.0
  - v1.6.1
  - v1.6.2
  - v1.8.1
  - v1.9.0
- SourceImage: ghcr.io/jimmidyson/configmap-reload
  Tags:
  - v0.13.1
- SourceImage: ghcr.io/kube-logging/config-reloader
  Tags:
  - v0.0.5
  - v0.0.6
- SourceImage: ghcr.io/kube-logging/fluentd
  Tags:
  - v1.16-4.10-full
  - v1.16-4.8-full
  - v1.16-ruby3.3-full-build.140
- SourceImage: ghcr.io/kube-logging/logging-operator
  Tags:
  - 4.10.0
  - 4.4.0
  - 4.8.0
  - 4.9.1
- SourceImage: ghcr.io/prometheus-community/windows-exporter
  Tags:
  - 0.25.1
  - 0.30.5
  TargetImageName: mirrored-prometheus-windows-exporter
- SourceImage: grafana/grafana
  Tags:
  - 7.1.5
  - 7.2.1
  TargetImageName: grafana-grafana
- SourceImage: grafana/grafana
  Tags:
  - 10.3.3
  - 10.4.9
  - 11.1.0
  - 11.3.0
  - 11.5.2
  - 6.7.4
  - 7.1.5
  - 7.4.5
  - 7.5.11
  - 7.5.8
  - 8.5.3
  - 9.1.5
  - 9.5.14
- SourceImage: grafana/grafana-image-renderer
  Tags:
  - 2.0.0
  TargetImageName: grafana-grafana-image-renderer
- SourceImage: grafana/grafana-image-renderer
  Tags:
  - 2.0.1
  - 3.0.1
  - 3.10.1
  - 3.10.5
  - 3.11.1
  - 3.11.6
  - 3.12.3
  - 3.8.0
- SourceImage: istio/citadel
  Tags:
  - 1.5.9
- SourceImage: istio/coredns-plugin
  Tags:
  - 0.2-istio-1.1
  TargetImageName: istio-coredns-plugin
- SourceImage: istio/coredns-plugin
  Tags:
  - 0.2-istio-1.1
Repositories:
- BaseUrl: docker.io/rancher
  Password: '{{ env "DOCKER_PASSWORD" }}'
  Registry: docker.io
  ReqConcurrent: 2
  Target: true
  Username: '{{ env "DOCKER_USERNAME" }}'
- BaseUrl: dp.apps.rancher.io/containers
  Password: '{{ env "APPCO_PASSWORD" }}'
  Registry: dp.apps.rancher.io
  ReqConcurrent: 2
  Target: false
  Username: '{{ env "APPCO_USERNAME" }}'
- BaseUrl: registry.suse.com/rancher
  Password: '{{ env "PRIME_PASSWORD" }}'
  Registry: registry.suse.com
  ReqConcurrent: 2
  Target: true
  Username: '{{ env "PRIME_USERNAME" }}'
