name: Autoupdate
on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Set up git user
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"

    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version: '1.24'
        cache-dependency-path: tools/go.sum

    - name: Build tooling
      run: scripts/build-tools.sh

    - name: Run autoupdate
      run: bin/artifact-mirror-tools autoupdate
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
