name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  validate-images-list:
    runs-on: ubuntu-latest
    if: github.repository == 'rancher/image-mirror'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Validate that the list images-list is sorted correctly
        run: grep -vE '^\s*(#|//)' images-list | sort -Vc

      - name: Validate that the list images-list-daily is sorted correctly
        run: grep -vE '^\s*(#|//)' images-list-daily | sort -Vc

      - name: Verify that new images exist
        run: ./scripts/check-new-images-exist.sh