name: Validate retrieve-image-tags config
on:
  pull_request:
    paths:
      - 'retrieve-image-tags/**'

permissions:
  contents: read

jobs:
  validate-retrieve-image-tags:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Validate JSON
      run: jq type retrieve-image-tags/config.json
    - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
      with:
        python-version: '3.10'
        cache: 'pip' # caching pip dependencies
    - name: Pip
      working-directory: ./retrieve-image-tags
      run: pip install -r requirements.txt
    - id: gimme-versions
      working-directory: ./retrieve-image-tags
      run: |
        python retrieve-image-tags.py
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
